.bigdiv {
    margin-left: 25px;
    display: flex;
    width: 1500px;
    flex-wrap: wrap;
}

.smalldiv {
    margin-top: 40px;
    margin-left: 25px;
}
.catdiv {
    display: flex;
    margin-left: 30px;
}
.catblock
{
    margin-top: 15px;
    margin-left: 25px;
}
.catimg
{
    width: 100px;
    height: 100px;
}