.rasm
{
    margin-top: 10px;
    width: 800px;
    height: 800px;
}
.maindiv
{
    display: flex;
    margin-left: 400px;
}
.kik
{
    margin-top: 100px;
    margin-left: 35px;
}
.ism {
    margin-top: 40px;
}
.narx
{
    margin-top: 45px;
}
.opisanie {
    
    font-size: 30px;
    width: 1500px;
    margin-left: 100px;
}
.dkorzina {
  margin-left: 500px;
}
.xarak {
    font-size: 20px;
    margin-top: 20px;

}